body{
    background-color: #000000; 
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensures the black covers the whole screen */
    color: white;
}
.top-bar{
    /* Rectangle 7 */
    box-sizing: border-box;
    position: relative;
    width: 1912px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #1A1A1A;
    border: 3px solid #FFC700;
}
.top-bar h1{
    /* Shared Notes */
    position: absolute;
    width: 267px;
    height: 41px;
    left: 403px;
    top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFC700;
}
.header-logo{
    /* Edit Text File */
    position: absolute;
    width: 70px;
    height: 70px;
    left: 335px;
    top: 15px;
}
.New-note{
    /* Rounded rectangle */
    position: absolute;
    width: 150px;
    height: 41px;
    left: 1435px;
    top: 30px;
    background: #FFC700;
    border-radius: 15px;
    /* New Note */
    /* New Note */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.addButton{
    /* Vector */
    
}