<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SharedNotes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="top-bar">
        <h1>Shared Notes</h1>
        <img src="{{ url_for('static', filename='png/haha.png') }}" class = "header-logo"  >
        <button class="New-note" type="submit">
            <img src="{{url_for('static', filename='png/Vector.png') }}" class="addButton">
            <span id="Newnote">New Note</span>
        </button>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>